$white: #ffffff;
$white-2: #e0e0e0;

$black: #000000;
$black-2: rgba(19, 19, 19, 0.659);

$grey: #727272;
$grey-2: #5c5c5c5e;


// background y box shadow
$bg-body: rgb(236, 236, 236);
$bg-color-cajas: #969696;
$bs-cajas: 0px 0px 7px 4px rgba(0,0,0,1);
