$white: #ffffff;
$white-2: #e0e0e0;

$black: #000000;
$black-2: rgba(19, 19, 19, 0.659);

$grey: #cacaca;
$grey-2: #5c5c5c5e;


// background y box shadow
$bg-body: #000000ec;
$bg-color-cajas: #e6e6e6;
$bs-cajas: 1px 3px 10px 8px rgb(255, 255, 255);