@import 'colores.scss';

// Variables
$fontsize: 1rem;

// Style
*{ box-sizing: border-box; }
:root{ font-size: 16px; }
body{ background-color: $bg-body; font-family: 'Space Mono', monospace;}
h1,h2,h3,h4,h5,h6{ font-family: 'BioRhyme', serif; }

// Bootstrap
.bg-dark{
    background-color: $black !important;
}
.nav-link{
    color: $white !important;
    &:hover{
        color: $white-2!important;
    }
}
.active > .nav-link{
    color: $grey !important ;
    border-bottom: $white solid 1px;

}

.btn-success{
    background-color: $black;
    border: solid $black 1px;
}

.btn-success:hover{
    background-color: $black-2;
    border: $white !important;
}

.btn-success:active{
    background-color: $grey!important;
    border: solid $white 1px;
    box-shadow: none !important;
}

.btn-success:focus{
    background-color: $grey!important;
}

.btn-success:focus{
    border: none !important;
    box-shadow: $bs-cajas !important;
}

.btn-secondary:focus{
    border: none !important;
    box-shadow: $bs-cajas !important;
}